li {
    display: inline;
    margin-right: 1.4em;
    cursor: pointer;
}
ul {
    padding: 1em;
    margin-left: 0%;
}

mat-toolbar {
    padding: 0%;
}

.main {
    margin-right: 2.2em;
    font-weight: bold;
}