<div class="fullSize">
  <mat-card style="padding: 0%;">
    <mat-card-title class="matTitle">Machine</mat-card-title>
    <mat-list-item class="listItem" *ngFor="let element of listMachines$ | async">
      <div class="listItemDiv" (click)="showDetail(element)">
        <span>{{element.id}}</span>
      </div>
    </mat-list-item>
    <mat-list-item class="hover">
      <div class="listItemDiv matIcon" (click)="showDetailNoEl()">
        <span>
          <mat-icon>add_box</mat-icon>
        </span>
      </div>
    </mat-list-item>
  </mat-card>
</div>
