<mat-drawer-container class="sideNavContainer">
  <mat-drawer class="sideNavDrawer" opened mode="side">
    <ul class="sideNavUl">
      <li class="sideNavLi" (click)="showOverviewClick(1)">
        machines
      </li>
      <li class="sideNavLi" (click)="showOverviewClick(2)">
        machine types
      </li>
      <li class="sideNavLi" (click)="showOverviewClick(3)">
            operations
          </li>
      <li class="sideNavLi" (click)="showOverviewClick(4)">
        products
      </li>
      <li class="sideNavLi">
        plan of production
      </li>
      
    </ul>
  </mat-drawer>

  <mat-drawer-content class="sideNavContent">
    <div class="fullSize row">
      <div class="col-2" style="padding: 0%;">
        <app-machine-overview *ngIf="showOverview=='machineOverview'" (showDetailMachine)="showDetailMachine($event)"></app-machine-overview>
        <app-machine-type-overview *ngIf="showOverview=='machineTypeOverview'" (showDetailMachineType)="showDetailMachineType($event)"></app-machine-type-overview>
        <app-operation-overview *ngIf="showOverview=='operationOverview'" (showDetailOperation)="showDetailOperation($event)"></app-operation-overview>
        <app-product-overview *ngIf="showOverview=='productOverview'" (showDetailProduct)="showDetailProduct($event)"></app-product-overview>
      </div>
      <div class="col-10" style="padding: 0%;">
      <app-machine-detail *ngIf=showMachineDetail [machineDetail]="machine"></app-machine-detail>
      <app-machine-type-detail *ngIf="showMachineTypeDetail" [machineTypeDetail]="machineType"></app-machine-type-detail>
      <app-operation-detail *ngIf="showOperationDetail" [operationDetail]="operation"></app-operation-detail>
      <app-product-detail *ngIf="showProductDetail" [productDetail]="product"></app-product-detail>
    </div>
    </div>


  </mat-drawer-content>

</mat-drawer-container>
