.sideNavContainer {
    height: 100%;
    
  }
  
  .sideNavContent {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0%;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .sideNavUl {
      padding-left: 0;
      text-align: center;
  }

  .sideNavLi {
      padding-left: 0.5em;
      padding-top: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 0.5em;
      list-style: none;
      cursor: pointer;
      
  }

  .sideNavLi:hover {
    background-color: rgb(224, 224, 224);
  }

  .fullSize {
    width: 100%;
    height: 100%;
  }